<section class="my-3" *ngIf="categories">
    <div class="row g-4 justify-content-center ">
        <div 
        *ngFor="let item of (categories
        | paginate: { 
            itemsPerPage: 20,
            currentPage: page,
              id:'first' } ) 
        " class="col-em-6 col-md-4 col-lg-2">
            <div class="product">
                <div role="button" [routerLink]="['/categorytdetails',item._id]">
                    <img [src]="item.image" height="270" class="w-100" [alt]="item.name">
                    <h4 class="fs-4 text-main">{{item.name}}</h4>
                </div>
            </div>
        </div>
    </div>
  <div class="py-4">
    <pagination-controls class="text-center " (pageChange)="page = $event" id="first"></pagination-controls>
  </div>
</section>